.main {
    max-width: $max-width;

    .status-wrapper {
        padding: 5px 25px;
        background: $state-danger-text;
        color: white;
        font-size: 20px;

        .status-label {
            font-weight: bold;
        }
    }
}